---
import Contactform from "@/components/contactform.astro";
import Container from "@/components/container.astro";
import Sectionhead from "@/components/sectionhead.astro";
import Layout from "@/layouts/Layout.astro";
import { Icon } from "astro-icon/components";
---

<Layout title=联系我">
  <Container>
    <Sectionhead>
      <Fragment slot="title">联系薇薇</Fragment>
      <Fragment slot="desc">欢迎找我代理</Fragment>
    </Sectionhead>

    <div class="grid md:grid-cols-2 gap-10 mx-auto max-w-4xl mt-16">
      <div>
        <h2 class="font-medium text-2xl text-gray-800">联系薇薇</h2>
        <p class="text-lg leading-relaxed text-slate-500 mt-3">
          有什么想法？想对我说的？想创业？赚零花钱？都可以通过抖音、微信、电话联系薇薇，欢迎到店咨询、试用、洽谈！抖音号: VMimi33453
微信号: zmmz9108
        </p>
        <div class="mt-5">
          <div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:map-marker" />
            <span>日落集市,新玩厂, 芒市</span>
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:envelope" /><a
              href="mailto:x@glee.ch"
              >x@glee.ch</a
            >
          </div><div class="flex items-center mt-2 space-x-2 text-gray-600">
            <Icon class="text-gray-400 w-4 h-4" name="uil:phone" /><a
              href="tel:19188159151">19188159151</a
            >
          </div>
        </div>
      </div>
      <div>
        <Contactform />
      </div>
    </div>
  </Container>
</Layout>
